<html>
	<link href = "CssFile.css" rel="stylesheet" type="text/css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="Scripts/GeneralScripts.js"></script>
	<script>
		var io = io.connect();
	</script>
	<body>
		<div id = "mainWrapper">

		</div>
	</body>
	<script type="text/javascript">
		InsertCanvas();
		DrawWelcomeScreen();
	</script>
</html>